@import '../utils/vars';

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: $textBold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $logoSecondary;
  text-decoration: none;

  &--header {
    @extend .logo;
    color: $logoPrimary;
  }
  &--footer {
    @extend .logo;
    color: $logoPrimaryDarkTheme;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .logo {
    font-size: 24px;
  }
}


@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
