@import '../utils/vars';

.footer {
  background-color: $footerBackground;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 94px;
  &__container{
    @extend .container;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item--center {
    @extend .footer__item;
    align-self: center;
  }
}

.footer__content {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.footer__social-icons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__adress-column {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__title {
  font-weight: $textBold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $footerPrimaryText;
}

.footer__text {
  @extend .footer__title;
  line-height: 1.71;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  text-transform: none;

  &--contact {
    color: $footerSecondaryText;

    &:hover {
      color: $hover;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.footer__social-icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $footerIconFill;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $footerIconBackgroundHover;
    transition: $transition-cubic;
  }
}
.footer__newsletter-form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.footer__input-field {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $footerBackground;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: $footerSecondaryText;

  &:focus-within,
  &:hover {
    outline: $inputBorderFocus;
    border: 1px solid $inputBorderFocus;
    transition: $transition-cubic;
  }
}
.footer__button {
  display: flex;
  border-style: none;
  border-radius: 4px;
  background-color: $primaryButton;
  padding-left: 42px;
  padding-right: 28px;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: $primaryButtonText;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  fill: $footerIconFill;

  &:hover {
    background-color: $primaryButtonHover;
    transition: $transition-cubic;
  }
}
